@model IEnumerable<Progra1BD.Models.Account>

@{
    ViewData["Title"] = "Seleccionar Cuenta";
}


<body>

<br>
<br>
<h1>Seleccione la cuenta a la que desea acceder: </h1>
<br>
<br>
<br>

<div class="container" style="text-align: center">
    <table style="padding-left: 150px; border: 0px" class="table table-bordered  table-hover table-responsive">
        <thead class="table-primary">
        <tr>
            <th>Identificacion</th>
            <th>Id del Cliente</th>
            <th>Tipo Cuenta</th>
            <th>Numero de Cuenta</th>
            <th>Saldo de la Cuenta</th>
            <th>Cuenta</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Index" asp-route-id="@item.numCuenta"> Seleccionar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
</body>