@model IEnumerable<Progra1BD.Models.StateAccount>


@{
    ViewData["Title"] = "Estado de Cuenta";
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Banco Verdun</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transacciones
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="StateAccount">Estado de Cuenta</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Beneficiaries">Beneficiarios</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="NewSavings">Crear Ahorro</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Login">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Nunca había sido tan fácil!</h1>
        <p class="lead">Crea un ahorro automático, que se ajuste a tus necesidades. Edgar no sabe programar, wapo</p>
        <a asp-controller="Transaction" asp-action="NewSavings" class="btn btn-primary btn-lg">Ahorra ya!</a>
    </header>
    
    <!-- /.row -->

    <table class="table table-bordered table-responsive" style="border: 0px; padding-left: 100px">
        <thead class="table-primary">
        <tr>
            <th>Identificacion</th>
            <th>Identifiacion de la Cuenta</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Saldo Inicial</th>
            <th>Saldo Final</th>
            <th>Saldo Minimo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldoInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldoFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldoMinimo)
                </td>
                <td>
                    <a asp-controller="Transaction" asp-action="Movements" asp-route-id="@item.ID"> Seleccionar</a>
                </td>
                
            </tr>
        }
        </tbody>
    </table>

</div>